#### 1. Import pandas library

In [17]:
import pandas as pd

#### 2. Import users table:

In [18]:
import pandas as pd

users_data = pd.read_csv('./datasets/users_table.csv')
print(users_data)

          Id  Reputation         CreationDate     DisplayName  \
0         -1           1  2010-07-19 06:55:26       Community
1          2         101  2010-07-19 14:01:36    Geoff Dalgas
2          3         101  2010-07-19 15:34:50    Jarrod Dixon
3          4         101  2010-07-19 19:03:27          Emmett
4          5        6792  2010-07-19 19:03:57           Shane
...      ...         ...                  ...             ...
40320  55743           1  2014-09-13 21:03:50       AussieMeg
40321  55744           6  2014-09-13 21:39:30       Mia Maria
40322  55745         101  2014-09-13 23:45:27    tronbabylove
40323  55746         106  2014-09-14 00:29:41             GPP
40324  55747           1  2014-09-14 01:01:44  Shivam Agrawal

            LastAccessDate                      WebsiteUrl  \
0      2010-07-19 06:55:26  http://meta.stackexchange.com/
1      2013-11-12 22:07:23        http://stackoverflow.com
2      2014-08-08 06:42:58        http://stackoverflow.com
3      2014-01-02 09:31:02    http://minesweeperonline.com
4      2014-08-13 00:23:47         http://www.statalgo.com
...                    ...                             ...
40320  2014-09-13 21:18:52                             NaN
40321  2014-09-13 21:39:30                             NaN
40322  2014-09-13 23:45:27                             NaN
40323  2014-09-14 02:05:17                             NaN
40324  2014-09-14 01:19:04                             NaN

                 Location                                            AboutMe  \
0      on the server farm  <p>Hi, I'm not really a person.</p>\r\n\r\n<p>...
1           Corvallis, OR  <p>Developer on the StackOverflow team.  Find ...
2            New York, NY  <p><a href="http://blog.stackoverflow.com/2009...
3       San Francisco, CA  <p>currently at a startup in SF</p>\r\n\r\n<p>...
4            New York, NY  <p>Quantitative researcher focusing on statist...
...                   ...                                                ...
40320                 NaN                                                NaN
40321                 NaN                                                NaN
40322       United States                                                NaN
40323                 NaN  <p>Stats noobie, product, marketing &amp; medi...
40324               India                       <p>Maths Enthusiast </p>\r\n

       Views  UpVotes  DownVotes  AccountId   Age  \
0          0     5007       1920         -1   NaN
1         25        3          0          2  37.0
2         22       19          0          3  35.0
3         11        0          0       1998  28.0
4       1145      662          5      54503  35.0
...      ...      ...        ...        ...   ...
40320      0        0          0    5026902   NaN
40321      1        0          0    5026998   NaN
40322      0        0          0     481766   NaN
40323      1        0          0     976289   NaN
40324      0        0          0    5027354   NaN

                                         ProfileImageUrl
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                     http://i.stack.imgur.com/d1oHX.jpg
4                                                    NaN
...                                                  ...
40320  http://graph.facebook.com/665821703/picture?ty...
40321                                                NaN
40322  https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323  https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324  https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

[40325 rows x 14 columns]

#### 3. Rename Id column to userId

In [19]:
users_data_0 = users_data.rename(columns={"Id": "userId"})
print(users_data_0)

       userId  Reputation         CreationDate     DisplayName  \
0          -1           1  2010-07-19 06:55:26       Community
1           2         101  2010-07-19 14:01:36    Geoff Dalgas
2           3         101  2010-07-19 15:34:50    Jarrod Dixon
3           4         101  2010-07-19 19:03:27          Emmett
4           5        6792  2010-07-19 19:03:57           Shane
...       ...         ...                  ...             ...
40320   55743           1  2014-09-13 21:03:50       AussieMeg
40321   55744           6  2014-09-13 21:39:30       Mia Maria
40322   55745         101  2014-09-13 23:45:27    tronbabylove
40323   55746         106  2014-09-14 00:29:41             GPP
40324   55747           1  2014-09-14 01:01:44  Shivam Agrawal

            LastAccessDate                      WebsiteUrl  \
0      2010-07-19 06:55:26  http://meta.stackexchange.com/
1      2013-11-12 22:07:23        http://stackoverflow.com
2      2014-08-08 06:42:58        http://stackoverflow.com
3      2014-01-02 09:31:02    http://minesweeperonline.com
4      2014-08-13 00:23:47         http://www.statalgo.com
...                    ...                             ...
40320  2014-09-13 21:18:52                             NaN
40321  2014-09-13 21:39:30                             NaN
40322  2014-09-13 23:45:27                             NaN
40323  2014-09-14 02:05:17                             NaN
40324  2014-09-14 01:19:04                             NaN

                 Location                                            AboutMe  \
0      on the server farm  <p>Hi, I'm not really a person.</p>\r\n\r\n<p>...
1           Corvallis, OR  <p>Developer on the StackOverflow team.  Find ...
2            New York, NY  <p><a href="http://blog.stackoverflow.com/2009...
3       San Francisco, CA  <p>currently at a startup in SF</p>\r\n\r\n<p>...
4            New York, NY  <p>Quantitative researcher focusing on statist...
...                   ...                                                ...
40320                 NaN                                                NaN
40321                 NaN                                                NaN
40322       United States                                                NaN
40323                 NaN  <p>Stats noobie, product, marketing &amp; medi...
40324               India                       <p>Maths Enthusiast </p>\r\n

       Views  UpVotes  DownVotes  AccountId   Age  \
0          0     5007       1920         -1   NaN
1         25        3          0          2  37.0
2         22       19          0          3  35.0
3         11        0          0       1998  28.0
4       1145      662          5      54503  35.0
...      ...      ...        ...        ...   ...
40320      0        0          0    5026902   NaN
40321      1        0          0    5026998   NaN
40322      0        0          0     481766   NaN
40323      1        0          0     976289   NaN
40324      0        0          0    5027354   NaN

                                         ProfileImageUrl
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                     http://i.stack.imgur.com/d1oHX.jpg
4                                                    NaN
...                                                  ...
40320  http://graph.facebook.com/665821703/picture?ty...
40321                                                NaN
40322  https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323  https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324  https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

[40325 rows x 14 columns]

#### 4. Import posts table:

In [20]:
posts_data = pd.read_csv('./datasets/posts_table.csv')
print(posts_data)

          Id  PostTypeId  AcceptedAnswerId          CreaionDate  Score  \
0          1           1              15.0  2010-07-19 19:12:12     23
1          2           1              59.0  2010-07-19 19:12:57     22
2          3           1               5.0  2010-07-19 19:13:28     54
3          4           1             135.0  2010-07-19 19:13:31     13
4          5           2               NaN  2010-07-19 19:14:43     81
...      ...         ...               ...                  ...    ...
39995  48321           2               NaN  2013-01-23 09:00:01      0
39996  48322           2               NaN  2013-01-23 09:09:34      3
39997  48323           2               NaN  2013-01-23 09:16:44      1
39998  48324           2               NaN  2013-01-23 09:36:07      3
39999  48325           1               NaN  2013-01-23 09:44:07     -1

       ViewCount                                               Body  \
0         1278.0  <p>How should I elicit prior distributions fro...
1         8198.0  <p>In many different statistical methods there...
2         3613.0  <p>What are some valuable Statistical Analysis...
3         5224.0  <p>I have two groups of data.  Each with a dif...
4            NaN  <p>The R-project</p>\n\n<p><a href="http://www...
...          ...                                                ...
39995        NaN  <p>you can use the matlab codes for svm and co...
39996        NaN  <p>I use <a href="http://www.gnu.org/software/...
39997        NaN  <p>If I understand your question correctly, yo...
39998        NaN  <p>Doesn't really help you with your question,...
39999      116.0  <p>I have 10 vectors each having 100,000 point...

       OwnerUserId      LasActivityDate  \
0              8.0  2010-09-15 21:08:26
1             24.0  2012-11-12 09:21:54
2             18.0  2013-05-27 14:48:36
3             23.0  2010-09-08 03:00:19
4             23.0  2010-07-19 19:21:15
...            ...                  ...
39995      19966.0  2013-01-23 09:00:01
39996        892.0  2013-01-23 13:13:30
39997       2020.0  2013-01-23 09:16:44
39998      19914.0  2013-01-23 09:36:07
39999      19968.0  2013-02-22 11:23:54

                                                   Title  ... AnswerCount  \
0                          Eliciting priors from experts  ...         5.0
1                                     What is normality?  ...         7.0
2      What are some valuable Statistical Analysis op...  ...        19.0
3      Assessing the significance of differences in d...  ...         5.0
4                                                    NaN  ...         NaN
...                                                  ...  ...         ...
39995                                                NaN  ...         NaN
39996                                                NaN  ...         NaN
39997                                                NaN  ...         NaN
39998                                                NaN  ...         NaN
39999  are data sets obtained from a Normal distribut...  ...         2.0

       CommentCount  FavoriteCount  LastEditorUserId         LastEditDate  \
0                 1           14.0               NaN                  NaN
1                 1            8.0              88.0  2010-08-07 17:56:44
2                 4           36.0             183.0  2011-02-12 05:50:03
3                 2            2.0               NaN                  NaN
4                 3            NaN              23.0  2010-07-19 19:21:15
...             ...            ...               ...                  ...
39995             0            NaN               NaN                  NaN
39996             2            NaN             892.0  2013-01-23 13:13:30
39997             0            NaN               NaN                  NaN
39998             0            NaN               NaN                  NaN
39999             4            NaN               NaN                  NaN

        CommunityOwnedDate ParentId  ClosedDate OwnerDisplayName  \
0                      NaN      NaN         NaN              NaN
1                      NaN      NaN         NaN              NaN
2      2010-07-19 19:13:28      NaN         NaN              NaN
3                      NaN      NaN         NaN              NaN
4      2010-07-19 19:14:43      3.0         NaN              NaN
...                    ...      ...         ...              ...
39995                  NaN  45118.0         NaN              NaN
39996                  NaN  48311.0         NaN              NaN
39997                  NaN  48247.0         NaN              NaN
39998                  NaN  48297.0         NaN              NaN
39999                  NaN      NaN         NaN              NaN

      LastEditorDisplayName
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
39995                   NaN
39996                   NaN
39997                   NaN
39998                   NaN
39999                   NaN

[40000 rows x 21 columns]

#### 5. Rename Id column to postId and OwnerUserId to userId

In [21]:
posts_data_0 = posts_data.rename(columns={"Id":"postId","OwnerUserId": "userId"})
print(posts_data_0)

       postId  PostTypeId  AcceptedAnswerId          CreaionDate  Score  \
0           1           1              15.0  2010-07-19 19:12:12     23
1           2           1              59.0  2010-07-19 19:12:57     22
2           3           1               5.0  2010-07-19 19:13:28     54
3           4           1             135.0  2010-07-19 19:13:31     13
4           5           2               NaN  2010-07-19 19:14:43     81
...       ...         ...               ...                  ...    ...
39995   48321           2               NaN  2013-01-23 09:00:01      0
39996   48322           2               NaN  2013-01-23 09:09:34      3
39997   48323           2               NaN  2013-01-23 09:16:44      1
39998   48324           2               NaN  2013-01-23 09:36:07      3
39999   48325           1               NaN  2013-01-23 09:44:07     -1

       ViewCount                                               Body   userId  \
0         1278.0  <p>How should I elicit prior distributions fro...      8.0
1         8198.0  <p>In many different statistical methods there...     24.0
2         3613.0  <p>What are some valuable Statistical Analysis...     18.0
3         5224.0  <p>I have two groups of data.  Each with a dif...     23.0
4            NaN  <p>The R-project</p>\n\n<p><a href="http://www...     23.0
...          ...                                                ...      ...
39995        NaN  <p>you can use the matlab codes for svm and co...  19966.0
39996        NaN  <p>I use <a href="http://www.gnu.org/software/...    892.0
39997        NaN  <p>If I understand your question correctly, yo...   2020.0
39998        NaN  <p>Doesn't really help you with your question,...  19914.0
39999      116.0  <p>I have 10 vectors each having 100,000 point...  19968.0

           LasActivityDate                                              Title  \
0      2010-09-15 21:08:26                      Eliciting priors from experts
1      2012-11-12 09:21:54                                 What is normality?
2      2013-05-27 14:48:36  What are some valuable Statistical Analysis op...
3      2010-09-08 03:00:19  Assessing the significance of differences in d...
4      2010-07-19 19:21:15                                                NaN
...                    ...                                                ...
39995  2013-01-23 09:00:01                                                NaN
39996  2013-01-23 13:13:30                                                NaN
39997  2013-01-23 09:16:44                                                NaN
39998  2013-01-23 09:36:07                                                NaN
39999  2013-02-22 11:23:54  are data sets obtained from a Normal distribut...

       ... AnswerCount  CommentCount  FavoriteCount  LastEditorUserId  \
0      ...         5.0             1           14.0               NaN
1      ...         7.0             1            8.0              88.0
2      ...        19.0             4           36.0             183.0
3      ...         5.0             2            2.0               NaN
4      ...         NaN             3            NaN              23.0
...    ...         ...           ...            ...               ...
39995  ...         NaN             0            NaN               NaN
39996  ...         NaN             2            NaN             892.0
39997  ...         NaN             0            NaN               NaN
39998  ...         NaN             0            NaN               NaN
39999  ...         2.0             4            NaN               NaN

              LastEditDate   CommunityOwnedDate ParentId  ClosedDate  \
0                      NaN                  NaN      NaN         NaN
1      2010-08-07 17:56:44                  NaN      NaN         NaN
2      2011-02-12 05:50:03  2010-07-19 19:13:28      NaN         NaN
3                      NaN                  NaN      NaN         NaN
4      2010-07-19 19:21:15  2010-07-19 19:14:43      3.0         NaN
...                    ...                  ...      ...         ...
39995                  NaN                  NaN  45118.0         NaN
39996  2013-01-23 13:13:30                  NaN  48311.0         NaN
39997                  NaN                  NaN  48247.0         NaN
39998                  NaN                  NaN  48297.0         NaN
39999                  NaN                  NaN      NaN         NaN

      OwnerDisplayName LastEditorDisplayName
0                  NaN                   NaN
1                  NaN                   NaN
2                  NaN                   NaN
3                  NaN                   NaN
4                  NaN                   NaN
...                ...                   ...
39995              NaN                   NaN
39996              NaN                   NaN
39997              NaN                   NaN
39998              NaN                   NaN
39999              NaN                   NaN

[40000 rows x 21 columns]

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [22]:
users = users_data_0[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]

posts = posts_data_0[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [23]:
merge = pd.merge(posts, users)
print(merge)

       postId  Score   userId  ViewCount  CommentCount  Reputation  Views  \
0           1     23      8.0     1278.0             1        6764   1089
1          16     16      8.0        NaN             3        6764   1089
2          36     41      8.0    67396.0             7        6764   1089
3          65     14      8.0        NaN             3        6764   1089
4          78     33      8.0        NaN             4        6764   1089
...       ...    ...      ...        ...           ...         ...    ...
38957   48313     -1  19735.0        NaN             1           1      5
38958   48317      8  19960.0     1894.0             1         153      9
38959   48318      0  19962.0       52.0             4           1      1
38960   48321      0  19966.0        NaN             0           1      1
38961   48325     -1  19968.0      116.0             4           1      1

       UpVotes  DownVotes
0          604         25
1          604         25
2          604         25
3          604         25
4          604         25
...        ...        ...
38957        0          0
38958       18          0
38959        0          0
38960        0          0
38961        0          0

[38962 rows x 9 columns]

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [24]:
merge.isnull()
merge.isnull().sum()

# there is 23572 missing values in the column ViewCount.

postId              0
Score               0
userId              0
ViewCount       23572
CommentCount        0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [10]:
#Since the number of missing values in the "ViewCount" column is very high (around 60% of the total rows), it is not recommended to remove those rows. Instead, we can consider filling the missing values using appropriate techniques.

#As mentioned in the class script, we can fill the missing values in the "ViewCount" column with the mean or median value of the column. Here's the code to do that using the mean:

merge["ViewCount"] = merge["ViewCount"].fillna(merge["ViewCount"].mean())

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [25]:
#The reason we changed the data type of "ViewCount" column to 'float64' is because it contains missing values, represented by NaN. In Pandas, integer data type columns cannot have missing values. Therefore, if we tried to change the data type of "ViewCount" to 'int32', it would raise an error because of the missing values.

#By changing the data type to 'float64', we allow for the presence of missing values in the column. 'float64' is a data type that supports both numerical values and missing values, which makes it a suitable choice for columns that may contain NaN values.

#Therefore, in order to avoid future issues with the analysis and modeling of the data, we need to ensure that the data types of our columns are appropriate and consistent with the values they contain.

merge['ViewCount'] = merge['ViewCount'].astype('float64')

print(merge)

       postId  Score   userId  ViewCount  CommentCount  Reputation  Views  \
0           1     23      8.0     1278.0             1        6764   1089
1          16     16      8.0        NaN             3        6764   1089
2          36     41      8.0    67396.0             7        6764   1089
3          65     14      8.0        NaN             3        6764   1089
4          78     33      8.0        NaN             4        6764   1089
...       ...    ...      ...        ...           ...         ...    ...
38957   48313     -1  19735.0        NaN             1           1      5
38958   48317      8  19960.0     1894.0             1         153      9
38959   48318      0  19962.0       52.0             4           1      1
38960   48321      0  19966.0        NaN             0           1      1
38961   48325     -1  19968.0      116.0             4           1      1

       UpVotes  DownVotes
0          604         25
1          604         25
2          604         25
3          604         25
4          604         25
...        ...        ...
38957        0          0
38958       18          0
38959        0          0
38960        0          0
38961        0          0

[38962 rows x 9 columns]